.nav-bar li.nav-active {
    color: #7451f8;
    border-bottom: 2px solid #7451f8;
}

.nav-bar {
    margin-top: 24px;
    display: flex;
    gap: 32px;
    font-size: 22px;
}

.nav-bar li {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
