*:focus {
    outline: none;
}

.addProduct {
    padding: 24px;
}

.productFormContainer {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.heading {
    font-size: 22px;
    color: #1677ff;
    padding: 12px 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-form {
    padding: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    row-gap: 12px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.image-control {
    grid-row: 4/5;
    /* grid-column: span 2; */
}

.controls input {
    padding: 4px;
    font-size: 14px;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
}

.roomControl {
    grid-column: span 2;
}

.sendBtn {
    margin-top: 32px;
    /* padding: 12px 64px; */
    justify-self: flex-start;
    grid-row: 7/8;
}

.choose-tags-action {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.choose-tags-action ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chose-tags-list {
    /* height: 32px; */
    /* border: 1px solid #000; */
}

.chose-tags-list .tag {
    display: flex;
    gap: 8px;
    align-items: center;
}

.chose-tags-list .tag .tag-delete-icon {
    margin-top: 1px;
    padding: 1px;
}

.chose-tags-list .tag .tag-delete-icon:hover {
    background-color: red;
    color: #fff;
}

.chose-tags-list,
.tags-list {
    display: flex;
    justify-self: self-start;
    align-items: baseline;
    flex-wrap: wrap;
}

.tags-list {
    border: 1px solid #000;
    padding: 8px;
    flex: 1;
}

.tag {
    margin: 2px;
    padding: 4px;
    background-color: #dedcdc;
    border-radius: 2px;
    cursor: pointer;
}

.tag:hover {
    background-color: #999;
}
