.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.heading h2 {
    display: flex;
    align-items: center;
    gap: 32px;
}

.heading button {
    padding: 8px 12px;
    background-color: transparent;
    border-color: #198c19;
    color: #198c19;
    border-radius: 4px;
    transition: all 300ms ease;
}

.heading button:hover {
    background-color: #198c19;
    color: #fff;
}

.header-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item {
    width: 100%;
    padding: 4px;
    transition: all 200ms ease;
    border-radius: 2px;
}

.dropdown-item:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}
