ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-detail {
    display: flex;
    gap: 24px;
}

.left,
.right {
    flex: 1;
}

.left img {
    width: 100%;
    object-fit: cover;
}

.detail {
    color: #666;
}

.detail h3 span {
    color: #000;
}

.detail h3 span.desc {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
