ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-detail {
    display: flex;
    gap: 24px;
}

.left,
.right {
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
}

.left img {
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.reviews-list {
    /* height: 250px; */
    height: 230px;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.detail {
    color: #666;
}

.detail h3 span {
    color: #000;
}

.detail h3 span.desc {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
